.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    padding: 0 10rem;
  }
  
  .gallery > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .gallery > figure > h3 {
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2.8px;
  }
  
  .gallery > figure > h4 {
    font-size: 13.6px;
    font-weight: 100;
    letter-spacing: 2.8px;
    color: var(--price);
  }
  